#visual{
  position:relative;
  min-width: 1280px;
  @media (max-width: 1024px) and (min-width: 768px) {
    width: 100%;
    max-width:1024px;
    min-width: 768px;
    h3{
      top:30%;
    }
  }
  .mejs-container {
    margin-top: -5%;
  }
  .horizon{
    bottom:38px;
  }
  .kv-container{
    background:#000;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    overflow: hidden;
  }
  .center.delta{
    margin:0 auto;
    position:relative;
      width:470px;
      height:100%;
    h3{
      position:absolute;
      top:50%;
      margin-top:-10%;
      width:480px;
      color:#fff;
      font-weight: bold;
      font-size: 38px;
      text-align: center;
      line-height: 1.6em;
      text-shadow:1px 1px 6px rgba(0,0,0,.4);
      .download-button{
        display: block;
        height: 72px;
        overflow: hidden;
        width: 289px;
        margin:16px auto;
        &:hover{
          img{
            margin-top: -74px;
          }
        }
      }
    }
  }
  .mejs-controls{
    display: none !important;
  }
  .mejs-overlay-button {display:none;}
  .video-preview{
    width:100%;
    position:relative;
  }
  .video{
    top:0;
    width:100%;
    height:100%;
    position:absolute;
  }
  .video-overlay{
    position:absolute;
    top:0;left:0;
    height:100%;
    width:100%;
    @include filter-gradient(rgba(0,0,0,0), rgba(0,0,0,1), vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  rgba(0,0,0,0) 75%,rgba(0,0,0,1) 100%));
   }
}