#race{
	@media (max-width: 1024px) and (min-width: 768px) {
		overflow: hidden;
	    padding-left: 2em;
	}
	background:#0f0704;
	background-image:url(../images/race/worgen-bg.png);
	.bg-mask{
	    background: #0f0704 none repeat scroll 0 0;
	    display: block;
	    height: 100%;
	    position: absolute;
	    width: 100%;
	    @include opacity(0);
	    top:0;
	    left: 0;
	}
	.nav-alliance{
		margin:20px 0 0 20px;
		background:url(../images/race/nav-bg-alliance.png) no-repeat;
		li.active a,a:hover{
			i{
				background-image: url(../images/race/nav-hover.png);
				background-position: 9px 8px;
				background-repeat:no-repeat; 
			}
		}
	}.nav-horde{
		margin:20px 0 0 15px;
		background:url(../images/race/nav-bg-horde.png) no-repeat;
		li.active a,a:hover{
			i{
				background-image: url(../images/race/nav-hover.png);
				background-position: -126px 8px;
				background-repeat:no-repeat; 
			}
		}
	}
	.nav{
		@media (max-width: 1024px) and (min-width: 768px) {
		    transform: scale(0.5) translateY(-50%);
		}
		float: left;
		width: 105px;
		height:560px;
		ul{
		    margin: 77px auto;
		    padding: 0;
		    width: 65px;
		}
		li{
			width: 65px;
			height:65px;
			display: block;
			position:relative;
			a{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height:100%;

				i{
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height:100%;
				}
			}
		}
		li{
			background-image: url(../images/race/nav-buttons.png);
		}
		.worgen{
			background-position:0 0;
		}
		.draenei{
			background-position:0 -67px;			
		}
		.dwarf{
			background-position:0 -135px;
		}
		.gnome{
			background-position:0 -202px;
		}
		.human{
			background-position:0 -270px;
		}
		.night-elf{
			background-position:0 -339px;
		}

		.goblin{
			background-position:-135px 0;
		}
		.blood-elf{
			background-position:-135px -67px;	
		}
		.orc{
			background-position:-135px -135px;

		}
		.tauren{
			background-position:-135px -202px;
		}
		.troll{
			background-position:-135px -270px;
		}
		.undead{
			background-position:-135px -339px;
		}

		.pandaria{
			background-position:0 -405px;

		}
	}
	article{
		float: left;
		ul{
			padding-left: 50px;
			position: relative;
		}
		li{
			&.active{
				display: block;
			}
			display: none;
			position:absolute;
			figure{
				img{
					@media (max-width: 1024px) and (min-width: 768px) {
					    transform: scale(0.8) translateY(-20%) translateX(-30%);
					}

				}
				@media (max-width: 1024px) and (min-width: 768px) {
					width: 120%;
				}
				left: 200px;
				height: 531px;
				line-height: 531px;
				width: 100%;
				margin-top: -40px;
				p{
					color:#b79855;
					font-size: 18px;
					margin-top: 15px;
				}
				h4{
					@media (max-width: 1024px) and (min-width: 768px) {
					    position: absolute;
					    top: 10%;
					margin-left: -160px;
					}
					font-size: 30px;
					display: inline-block;
					color:#fff;    
					margin-left: 40px;
					sub{
						font-size: 18px;
						color:#f00;
						bottom: 0;
						position: relative;
						padding-left: 18px;
						margin-left: 5px;
						&.alliance{
							color:#3b5998;	
						}
						i{
							position:absolute;
							width: 18px;
							height: 100%;
							background-position:0 center;
							background-image:url(../images/race/alliance-horde-icon.png);	
							top:0;
							left:0;
						}
						i.horde-icon{
							background-position:-18px center;	
						}
					}
				}
			}
			p.race-description{
				color:#b79855;
				width:740px;
				@media (max-width: 1024px) and (min-width: 768px) {
				    left: 131px;
				    position: absolute;
				    top: 240px;
				    width: 310px;
				}
				font-size: 15px;
			}
		}
	}
}