#features{
    min-height: 650px;
	background: url(../images/features/feature-bg.png) no-repeat center center;
	.section-title{
		line-height: 580px;
		text-align: center;
		h3, p{
			vertical-align: top;
			color:#0f0704;
		}
	}
	article{
		position: absolute;
		bottom:85px;
		width:100%;
	}
	p.feature-description{
		padding: 27px 33px;
		width: 1069px;
		@media (max-width: 1024px) and (min-width: 768px) {
			width: 90%;
		}
		height: 157px;
		background-image: url(../images/features/box.png);
		margin: 0 auto;
		color:#b79855;
	}
}