#feature{
	background: url(../images/features/feature-bg.png) no-repeat center -60px;
	article{
		position: absolute;
		bottom:85px;
		width:100%;
	}
	p{
		padding: 27px 33px;
		width: 1069px;
		height: 157px;
		background-image: url(../images/features/box.png);
		margin: 0 auto;
		color:#b79855;
	}
}