@charset "utf-8";
$icon-font-path: '../fonts/';
@import "compass/css3/images";
@import "compass/css3/transform";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/fullpage.js/jquery.fullPage.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-family:Segoe UI,微軟正黑體,Lantinghei TC;
  font-size:16px;
  background:#000; 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

a:focus{
  outline:none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  position:relative;
  min-width: 1280px;
  /* Make the masthead heading the same height as the navigation */
  h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 95px;
    width:200px;
  }
  .center.alpha{
    height: 115px;
    ul{
      li,a{
        height: 115px;
        line-height: 105px;
      }
      a{
        color:#b79855;
        height:115px;
        padding: 10px 25px;
        font-weight: bold;
        &:hover,&:focus{
          color:#faab00;
          background: none;

        }
      }
      .icon{
        padding:0;
        line-height: 130px;
      }
      .fa-facebook-official{
        transition:.3s ease-out backgorund-color,color;
        color:#3b5998;
        font-size: 24px;
        padding: 0 10px 0 35px;
        &:hover,&:focus{
          color:#4e6cab;
        }
      }
      .fa-youtube-play{
        color:#d0251e;
        font-size: 24px;
        line-height: 125px;
        padding: 0 5px;
        &:hover,&:focus{
          color:#e0352e;
        }
      }
      .video-control {
        padding: 0 10px 0 35px;
      }
      .btn{
        font-size: 1em;
        color:#ffffff;
        background-image: url(../images/btn.png);
        display: block;
        width:125px;
        height:35px;
        padding:0;
        line-height: 33px;
        margin-top:45px;
        &:hover,&:focus{
          font-size: 1em;
          color:#ffffff;
          background-image: url(../images/btn.png);
          background-position: 0 -35px;
        }
      }
    }
  }
  .nav-bg{
    width:100%;
    position:fixed;
    z-index: 2;
    top:0;left:0;
    min-width:1280px;
    height: 115px;
    background:#000;
    @include opacity(0.8);
  }
  >*{
    position:relative;
  }
}

/* Custom page footer */
#footer{
  margin-top: -45%;
  // background: url(../images/features/feature-bg.png) no-repeat center -80px;
  article{
    position: absolute;
    top:620px;
    width:100%;
    p{
      padding: 27px 33px;
      width: 1069px;
      height: 157px;
      background-image: url(../images/features/box.png);
      margin: 0 auto;
      color:#b79855;
    }
  }
  .footer {
    bottom: 0;
    color: #777;
    background:#000;
    padding-top: 19px;
    position: absolute;
    color:#593620;
    line-height:180px;
    height:180px;
    width:100%;
    .center{
      width: 1065px;
    }
    a{
      color:#fbb41c
    }
    p,img{
      display: inline-block;
      vertical-align: middle;
    }
    p{
      font-size: 12px;
      line-height: 1.6em;
      width: 850px;
      padding:0 45px;
    }
  }
}

#fullpage{
  margin-top: -1px;
  h2{
    color: #fff;
    display: inline-block;
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
    p{
      margin-top: 24px;
      color:#b79855;
      font-size: 22px;
    }
  }
  ul {
    list-style: none;
  }
  li{
    list-style: none;
  }
  @import "partial-visual";  
  @import "partial-race";  
  @import "partial-classes";  
  @import "partial-features";  
}
.container-narrow > hr {
  margin: 30px 0;
}

.center{
  max-width:1200px;
  margin:0 auto;
  position: relative;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width:100%;
    min-width: 730px;
    padding: 0;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    // margin-bottom: 30px;
  }

}

.mejs-overlay-button {
  background: url(../images/mejs/bigplay.svg) no-repeat;
}

.no-svg .mejs-overlay-button {
  background-image: url(../images/mejs/bigplay.png);
}


.mejs-overlay-loading span {
  background: transparent url(../images/mejs/loading.gif) 50% 50% no-repeat;
}

.mejs-controls .mejs-button button {
  background: transparent url(../images/mejs/controls.svg) no-repeat;
}

.no-svg .mejs-controls .mejs-button button {
  background-image: url(../images/mejs/controls.png);
}
.mejs-overlay-loading,
.mejs-container .mejs-controls ,
.mejs-controls .mejs-volume-button .mejs-volume-slider ,
.mejs-controls .mejs-captions-button .mejs-captions-selector ,
.mejs-captions-text,
.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector,
.mejs-postroll-layer ,
.mejs-postroll-close ,
.mejs-controls .mejs-speed-button .mejs-speed-selector {
  background: url(../images/mejs/background.png);
}
.mejs-controls .mejs-button.mejs-skip-back-button {
  background: transparent url(../images/mejs/skipback.png) no-repeat;
}